body{
  font-family: 'Roboto', sans-serif;
}
.layout{
  display: flex;
}

.header{
  background: rgb(42,70,138);
  background: linear-gradient(135deg, rgba(42,70,138,1) 0%, rgba(155,58,58,1) 100%);
}

.content {
  background: rgb(221,221,221);
  background: linear-gradient(135deg, rgb(208, 208, 208) 0%, rgba(232,232,232,1) 100%);
}
.footer{

}

a {
  color: blue;
  font-weight: bold;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

p {
  margin-bottom: 3em;
}
